In [18]:
import pandas as pd
import pandas as pd
import matplotlib.pyplot as plt
data=pd.read_csv("C:/Users/Atieh/Desktop/test/sample.csv")
data.head()

   XCOORD   YCOORD
0   556318  6321638
1   556318  6321626
2   556317  6321613
3   556315  6321602
4   556315  6321593

In [20]:
_=plt.plot(data['XCOORD'],data['YCOORD'],marker='.',linewidth=0, color='#128128')
_=plt.grid(which='major',color='#cccccc',alpha=0.45)
_=plt.title('Geographcal distribution of GPS tracker',family='Arial', fontsize=12)
_=plt.xlabel('X')
_=plt.ylabel('Y')
_=plt.show()